{% extends "layout.html" %}

{% block title %}
    {{ search }}
{% endblock %}
{% block name %}
{{ user[0]["firstname"] }}
 {% endblock %}
{% block main %}
{% if rows %}
  <div>
      <h2>Trains from {{ search.capitalize() }}</h2>
    <table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">From</th>
      <th scope="col">Destination</th>
      <th scope="col">Cost of a Ticket</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
    {% for i in rows %}
      <tr>
        <th class="counterCell" scope="row"><a class="nav-link" href=""></a></th>
        <td>{{ i["from_city"] }}</td>
        <td>{{ i["to_city"] }}</td>
        <td>{{ i["cost"] }}</td>
        <td>{{ i["time"] }}</td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>
{% else %}
<div class="jumbotron">
  <h1 class="display-4">Sorry!</h1>
  <p class="lead">No Result found for {{ search }}</p>
</div>
{% endif %}
{% endblock %}
