{% extends "layout.html" %}

{% block title %}
    Ticket
{% endblock %}
{% block name %}
{{ user[0]["firstname"] }}
 {% endblock %}
{% block main %}
    <div>
      {% if message %}
        <h3>{{ message }}</h3>
      {% endif %}
    </div>
    <div class="jumbotron">
        <table class="table">
            <thead class="head-light">
                <tr>
                    <th scope="col">Ticket Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Passengers</th>
                    <th scope="col">Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ full_ticket["id"] }}</td>
                    <td>{{ user[0]["firstname"] }}</td>
                    <td>{{ full_ticket["date"] }}</td>
                    <td>{{ full_ticket["time"] }}</td>
                    <td>{{ full_ticket["passengers"] }}</td>
                    <td>{{ full_ticket["cost"] }}</td>
                </tr>
            </tbody>    
        </table>
    </div>

{% endblock %}
